doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(class = `${font} ${theme}` )
  div
    nav(class = `${theme}`)
      div.container
        h3(class = `${theme}`)(href = '/') Todo App
        ul
          if user
            li
              a(class = `${theme}`)(href = '/profile') Hello #{user.first_name}!
            li
              a(class = `${theme}`)(href = '/settings') Settings
            li
              a(class = `${theme}`)(href = '/logout') Log Out
          else
            li
              a(href = '/login') Login
            li
              a(href = '/register') Register


    div.container
      block content
