doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(class = `${font} ${theme}`)
  div
    nav(class = `${theme}`)
      div.container
        a.title(class = `${theme}`)(href = '/') Todo App
        ul
          if user
            li
              a(class = `${theme}`)(href = '/profile') Hello #{user.first_name}!
            if user.can('add standard badge') || user.can('add premium badge')
                li
                    a(class = `${theme}`)(href = '/perks') Perks
            li
              a(class = `${theme}`)(href = '/logout') Log Out
          else
            li
              a(href = '/login') Login
            li
              a(href = '/register') Register


    div.container
      block content
